* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before {
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  background-color: #0e9aa7;
}
#container {
  border: 1px solid red;
  width: 90vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container #left {
  word-wrap: break-word;
  display: flex;
}
